# Node ve derleme dosyaları
node_modules/
build/
coverage/
*.log
*.csv
*.sql
*.txt

# IDE ve sistem dosyaları
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ortam dosyaları
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yedek ve gereksiz klasörler
/aboudeneme/
/blr/
/front/
/server/
/api/
/scripts/

# HTML ve örnek dosyalar
*.html
Footer.tsx
Home.tsx
footerornek.tsx

# Vercel config (Netlify kullanıyorsan)
vercel.json 